{% extends "layout.html.twig" %}

{% block content %}

<h2>L'actu</h2>


    <section>
        <article>
            <h4>Comment planter des tulipes ?</h4>
            <img src="../img/photo4.png" alt="">
            <p>Chez Fleurs d'ici, nous pensons quir la production...</p>
            <p><a href="">Lire l'article</a></p>
        </article>

    </section>

{% endblock %}