{% extends "layout.html.twig" %}

{% block content %}

<h2>L'actu</h2>

    <section>
        <section>
             {% for article in articles %}
            <article>
                <h3>{{ article.title }}</h3>
                <p>{{ article.content }}</p>
            </article>
            {% endfor %}
        </section>
    </section>


 {% endblock %}

