{%extends 'layout.html.twig' %}

{% block content %}
    
    <h1>Nous contacter</h1>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repellendus 
        ipsa doloremque nihil asperiores commodi nisi! Et doloribus voluptates quaerat at. 
        Possimus quod, corrupti, dolorem perferendis suscipit maxime dolor tempora!
    </p>
    
    <p></p>
    
 {% endblock %}
