{% extends "layout.html.twig" %}

{% block content %}

    
<h1>Vous souhaitez recevoir des fleurs pour un évenement ponctuel ? N'hésitez pas à nous contacter !</h1>

<form method="post" action="formmail.php" id="formcontactbtoc">

        <input type="text" id="lastname" name="lastname" value="" placeholder="Nom"><br><br>

        <input type="text" id="firstname" name="firstname" value="" placeholder="Prénom"><br><br>

        <input type="text" id="email" name="email" value="" placeholder="Email"><br><br> 

        <input type="text" id="phone" name="phone" value="" placeholder="Votre téléphone"><br><br> 

        <input type="text" id="zipcode" name="zipcode" value="" placeholder="Code Postal"><br><br>     
            
        <textarea id="message" name="message" value="" placeholder="Votre message"></textarea><br><br>
 
        <input type="submit" value="Valider">
    </form>

     
{% endblock %}


