{% extends "layout.html.twig" %}

{% block content %}

  <link rel="stylesheet" href="{{ asset('css/gift_card.css') }}" type="text/css">

    <section id="giftcard">
        <h2>Activez votre carte cadeau Fleurs d'Ici ! </h2>


<section class="cardcontainer">
    <section id="card">
        
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <div id="illucard"></div>
            {% if user_manager.isUserConnected %}  

            <form action="" method="post">
                <label for="code">Entrez votre code cadeau</label>
                <input type="text" name="code">
                <input type="submit">
            </form>

                {%if gift is defined %}
                    <p>Votre carte cadeau est bien activée !</p>
                {%endif%}   
                
            {%else%} 

                <p>Pour activer votre carte cadeau, <a href="{{path('login')}}">connectez vous</a> à votre compte Fleurs d'ici !</p>
                <p>Vous n'avez pas encore de compte ? <a href="{{path('register')}}">Inscrivez-vous</a> dès maintenant ! </p>

            {%endif%}

        </section>
    </section>
</section>

{% endblock %}

