{%extends 'layout.html.twig' %}

{% block content %}
    
    <h1>Connexion</h1>
    <form method="post">
        <fieldset>
            <label for="email"> Email : </label>
            <input type="text" name="email" value=""> <br><br>

            <label for="password"> Mot de passe : </label>
            <input type="password" name="password"><br><br>

            <input type="submit" value="Envoyer">
        </fieldset>
    </form>
    
 {% endblock %}