{% extends "layout.html.twig" %}

{% block content %}

<link rel="stylesheet" href="{{ asset('css/ourproject2.css') }}" type="text/css"> 

<h2 class="ourprojecttitle">Notre projet</h2>

    <section id="mainourproject1"> 
        
        <section class="contenuourproject">

            <section class="sectionourproject">

                <p class="descriptionourproject"><span>Les Fleurs d'Ici</span> c'est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.<span>Des fleurs locales et de saison</span>, comme si vous veniez de les cueillir au jardin. Aujourd’hui, 85% des fleurs vendues en France viennent de l’étranger, de Hollande bien sûr, mais de plus en plus, du Kenya, d’Équateur ou de Colombie. En remettant la saisonnalité et la proximité au cœur de la dynamique de consommation, Fleurs d’Ici permet aux petits producteurs horticoles de vendre leurs fleurs au juste prix, en économisant sur le circuit de distribution, et aux consommateurs d’avoir des produits de 
                meilleure qualité, tout en s’inscrivant dans une démarche de développement durable.</p>
            
            </section>

        </section>

    </section>
    
<h2 class="ourprojecttitle">Comment ça marche ?</h3>

    <section id="mainourproject2"> 
        
        <section class="contenuourproject">
            
            <section id="sectionourproject2">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet">Recevez les plus belles fleurs</h4>
                    <p>Toute l'année recevez les plus belles fleurs de saison de France et de Navarre.</p>
                </article>
            </section>

            <section id="sectionourproject3">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet2">Circuit-Court</h4>
                    <p>Nous privilégions le circuit court car nous pensons que les productions françaises sont de qualitées et qu'elles valent le coup d'être diffusées.</p>
                </article>
            </section>

            <section id="sectionourproject4">
                <i class="fa fa-telegram" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet3">Une ou deux fois par mois</h4>
                    <p>Livrées à domicile ou à récupérer en point-relais. Choisissez votre fréquence adéquate et la livraison qui vous facilite la vie.</p>
                </article>
            </section>
    
        </section>
    </section>


<h2 class="ourprojecttitle">Notre identité</h2>

    <section id="mainourproject3"> 

        <section class="contenuourproject">

            <section class="sectionourproject">

                <p class="descriptionourproject"><span>Chez Fleurs d'ici</span>, nous pensons qu'il est possible de promouvoir la production horticole française qui a longtemps été délaissée. De ce fait, nos fleurs sont le fruit du travail de différents horticulteurs qui démontrent chaque jour que les circuits longs ne sont plus nécessaires. En vous abonnant, vous recevrez des fleurs de qualités et vous contriburez ainsi à l'élévation de la production française de fleurs.<span> Nous serons ravis de vous voir rejoindre l'aventure !</span></p>

            </section>

        </section>

    </section>

{% endblock %}

{% block stylesheet %} 
 
    {{parent()}} 
 

 {% endblock %} 