{% extends "layout.html.twig" %}

{% block content %}

<link rel="stylesheet" href="{{ asset('css/ourproject.css') }}" type="text/css"> 

<h2 id="projetitre">Notre projet</h2>

    <section id="sectione">
        <article id="articleone">
            <p id="textpres">Les Fleurs d'Ici c'est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.Des fleurs locales et de saison, comme si vous veniez de les cueillir au jardin. Aujourd’hui, 85% des fleurs vendues en France viennent de l’étranger, de Hollande bien sûr, mais de plus en plus, du Kenya, d’Équateur ou de Colombie.
                                En remettant la saisonnalité et la proximité au cœur de la dynamique de consommation, Fleurs d’Ici permet aux petits producteurs horticoles de vendre leurs fleurs au juste prix, en économisant sur le circuit de distribution, et aux consommateurs d’avoir des produits de meilleure qualité, tout en s’inscrivant dans une démarche de développement durable.</p>
        <article>
    </section>
    <section id="sectionne">
        <h3 id="projetitre3">Comment ça marche ?</h3>

        <article id="articleprojet3">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <h4 id="titleprojet">Recevez les plus belles fleurs</h4>
            <p>Toute l'année recevez les plus belles fleurs de saison de France et de Navarre.</p>
        </article>

        <article id="articleprojet4">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <h4 id="titleprojet2">Circuit-Court</h4>
            <p>Nous privilégions le circuit court car nous pensons que les productions françaises sont de qualitées et qu'elles valent le coup d'être diffusées.</p>
        </article>

        <article id="articleprojet5">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <h4 id="titleprojet3">Une ou deux fois par mois livrées à domicile ou à récupérer en point-relais</h4>
            <p>Choisissez votre fréquence adéquate et la livraison qui vous facilite la vie.</p>
        <article>
    </section>


    <h3>Notre identité</h3>

    <section id="sectiona">
        <article id="articlefourth">
        <p id="textpres3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <img id="imgprojet2" src="../img/" alt="">
        <article>
    </section>



{% endblock %}

{% block stylesheet %} 
 
    {{parent()}} 
 

 {% endblock %} 