{%extends 'layout.html.twig' %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('css/paiement.css') }}" type="text/css">

<section id="paiement">

        <section class="contenupaiement">

            <section id="mainpaiement">
                <h2 class="paiementtitle"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></h2>
                <form action="" method="post" id="payment_form">

                    <article>
                        <div class="inputcontainer">
                            <label for="email">E-mail</label>
                            <input type="text" id="email" name="email" value="">
                        </div>
                    </article>

                    <article>
                        <div class="inputcontainer">
                            <label for="numbercb">Votre code de Carte Bleu</label>
                            <input type="text" id="" name="numbercb" value="numbercb" data-stripe="number">
                        </div>
                    </article>

                    <article>
                        <div class="inputcontainer">
                            <label for="monthcb">Mois</label>
                            <input type="text" id="" name="monthcb" value="monthcb" data-stripe="exp_month">
                        </div>
                    </article>

                    <article>
                        <div class="inputcontainer">
                            <label for="yearcb">Année</label>
                            <input type="text" id="" name="yearcb" value="yearcb" data-stripe="exp_year">
                        </div>
                    </article>

                    <article>
                        <div class="inputcontainer">
                            <label for="cvc">Cryptogramme visuel</label>
                            <input type="text" id="cvc" name="cvc" value="cvc" data-stripe="cvc">
                        </div>
                    </article>
                    <div class="inputcontainer">
                        <button type="submit" class="button">Paiement</button>
                    </div>
                </form>

            </section>

        </section>

</section>















<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<!-- Ajout de la public key pour test + soumission form: -->
<script>
    Stripe.setPublishableKey('pk_test_EONcjbwaYwY6HwyzCP1D5xR6')
    var $form = $('#payment_form');
    $form.submit(function (e){
        e.preventDefault();

        $form.find('.button').attr('disabled', true);

        Stripe.card.createToken($form, function(status, response){

            if(response.error){
                $form.find('.message').remove();
                $form.prepend('<div class="ui negative message">' + response.error.message + ' </div>');
            }else {
                var token = response.id;
                $form.append($('<input type="hidden" name="stripeToken">').val(token));
                $form.get(0).submit();
            }
        });
    });


<!-- Ajouter un paiement (charge) -->


<!-- Plan paimement (payement mensuel par ex) -->


<!-- Abonnement au plan que l'on a crée: -->



</script>

{% endblock %}