{% extends "layout.html.twig" %}

{% block content %}
    
    <h2>Bienvenue dans le panier</h2>
    

    <h3>Nom du bouquet : {{ product.productName }}</h3>
    <p><b>Prix : {{ product.price }}</b></p>
    <p>Description : {{ product.description }}</p>


{% endblock %}