{%extends 'layout.html.twig' %}

{% block content %}
    
    <link rel="stylesheet" href="{{ asset('css/login2.css') }}" type="text/css">

   <section id="mainconnect">

    <h2 class="connecttitle">Récupération du mot de passe</h2>
        <section class="contenuconnect" >
            <section id="sectionconnect">
                <form method="post" action="" id="formconnect">
                    <article>
                        <div class="inputcontainer">
                            <label for="email"> Email : </label>
                            <input type="text" name="email" value="">
                        </div>
                    </article>
                    
                    <article>
                        <div class="inputcontainer">
                            <input type="submit" value="Envoyer">
                        </div>
                    </article>
                </form>
               
            </section>     
        </section>

    </section>



 {% endblock %}