{% extends "layout.html.twig" %}

{% block content %}

<link rel="stylesheet" href="{{ asset('css/ourproject2.css') }}" type="text/css"> 

<h2 class="ourprojecttitle">Notre projet</h2>

    <section id="mainourproject1"> 
        
        <section class="contenuourproject">

            <section class="sectionourprojectl">

                <p class="descriptionourproject">Les Fleurs d'Ici c'est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.
Des fleurs locales et de saison, comme si vous veniez de les cueillir au jardin.</p>
            
            </section>

        </section>

    </section>
    
<h2 class="ourprojecttitle">Comment ça marche ?</h3>

    <section id="mainourproject2"> 
        
        <section class="contenuourproject">
            
            <section id="sectionourproject2">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet">Recevez les plus belles fleurs</h4>
                    <p>Toute l'année recevez les plus belles fleurs de saison de France et de Navarre.</p>
                </article>
            </section>

            <section id="sectionourproject3">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet2">Circuit-Court</h4>
                    <p>Nous privilégions le circuit court car nous pensons que les productions françaises sont de qualitées et qu'elles valent le coup d'être diffusées.</p>
                </article>
            </section>

            <section id="sectionourproject4">
                <i class="fa fa-telegram" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet3">Une ou deux fois par mois</h4>
                    <p>Livrées à domicile ou à récupérer en point-relais. Choisissez votre fréquence adéquate et la livraison qui vous facilite la vie.</p>
                </article>
            </section>
    
        </section>
    </section>


<h2 class="ourprojecttitle">Notre identité</h2>

    <section id="mainourproject3"> 

        <section class="contenuourproject">

            <section class="sectionourprojectr">

                <p class="descriptionourproject">Le marché des fleurs coupées est une industrie mondialisée.

Aujourd’hui, 85% des fleurs vendues en France viennent de l’étranger, de Hollande bien sûr, mais de plus en plus, du Kenya, d’Équateur ou de Colombie.

En remettant la saisonnalité et la proximité au cœur de la dynamique de consommation, Fleurs d’Ici permet aux petits producteurs horticoles de vendre leurs fleurs au juste prix, en économisant sur le circuit de distribution, et aux consommateurs d’avoir des produits de meilleure qualité, tout en s’inscrivant dans une démarche de développement durable.</p>

                <img src="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1135015/4de25634-5c76-4b3b-a4cb-e073c8eeaa1a_qzbbtj.png" alt="">
            </section>

        </section>

    </section>

{% endblock %}

{% block stylesheet %} 
 
    {{parent()}} 
 

 {% endblock %} 