{% extends "layout.html.twig" %}

{% block content %}
    <form method="post" action="" id="forminscription">
    <h2>Créer mon compte<h2>
        <input type="text" id="lastname" name="lastname" value="" placeholder="Nom"><br><br>

        <input type="text" id="firstname" name="firstname" value="" placeholder="Prénom"><br><br>

        <input type="text" id="email" name="email" value="" placeholder="Email"><br><br>

        <input type="password" id="password" name="password" value="" placeholder="Mot de passe"><br><br>

        <textarea name="address" id="address" cols="30" rows="10"></textarea>

        <input type="text" id="zipcode" name="zipcode" value="" placeholder="Code Postal"><br><br>

        <input type="text" id="city" name="city" value="" placeholder="Ville"><br><br>

        <input type="text" id="phone" name="phone" value="" placeholder="Portable"><br><br>
 
            
            

        <input type="submit" value="S'inscrire">
    </form>
{% endblock %}
