{% extends "layout.html.twig" %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('css/register.css') }}" type="text/css"> 
    
    <section id="register">
        <h2>Créer mon compte</h2>
            <form method="post" action="" id="">
                <article>
                    <label for="lastname">Nom</label>
                    <input type="text" id="lastname" name="lastname" value="">
                </article>
                
                <article>
                    <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" name="firstname" value="">
                </article>
                
                
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" value="">
                
                
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" value="">
                
                
                <label for="address">Adresse</label>
                <textarea name="address" id="address" rows="2"></textarea>
                
                <article>
                    <label for="zipcode">Code Postal</label>
                    <input type="text" id="zipcode" name="zipcode" value="">
                </article>
                
                <article>
                    <label for="city">Ville</label>
                    <input type="text" id="city" name="city" value="">
                </article>
                
                <label for="phone">N°Téléphone</label>
                <input type="text" id="phone" name="phone" value="">
                
            <input type="submit" value="S'inscrire">
        </form>
    </section>
{% endblock %}
