
    {% extends "layout.html.twig" %}

{% block content %}
        
        <form method="post" action="" id="forminscription">
        <h2>Créer mon compte<h2>
            <input type="text" id="nom" name="nom" value="" placeholder="Nom"><br><br>

            <input type="text" id="prenom" name="prenom" value="" placeholder="Prénom"><br><br>

            <input type="text" id="telephone" name="telephone" value="" placeholder="Portable"><br><br>

            <input type="text" id="email" name="email" value="" placeholder="Email"><br><br>

            <input type="text" id="mdp" name="mdp" value="" placeholder="Mot de passe"><br><br>

            <input type="submit" value="S'inscrire">
        </form>
       
{% endblock %}
