{% extends "layout.html.twig" %}

{% block title 'Admin products' %}

{% block content %}

<h2>Ajout manuel d'un produit</h2>

    <form method="post">

        <label>Nom du produit</label>
        <input type="text" name="product_name" value="" class="form-control">

        <label class="control-label">Description</label>
        <input type="text" name="description" value="" class="form-control">

        <label class="control-label">Photo</label>
        <input type="file" name="photo" value="" class="form-control">

        <label class="control-label">Prix</label>
        <input type="text" name="price" class="form-control" value=""></input>

        <label class="control-label">Fréquence</label>
        <select name="frequency" id="frequency">
            
            <option value="once a month">
                Une fois par mois
            </option>
            <option value="twice a month">
                Deux fois par mois
            </option>
        </select>
 
        <label class="control-label">Taille</label>
        <select name="size" id="size">
            
            <option value="moyen">
                Moyen
            </option>
            <option value="gros">
                Gros
            </option>
            
        </select>

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('admin_products') }}" class="btn btn-default">Annuler</a>
    </form>

{% endblock %}

