{% extends "layout.html.twig" %}

{% block title 'Admin products' %}
    
{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">
{% endblock %}

{% block content %}
    <section class="admin">  
        <h2>Ajout manuel d'un produit</h2>

        <form method="post">

            <label>Nom du produit</label>
            <input type="text" name="product_name" value="">

            <label>Description</label>
            <input type="text" name="description" value="">
            
            <article>
                <label>Photo</label>
                <input type="file" name="photo" value="">
            </article>
            
            <article>
                <label>Prix</label>
                <input type="text" name="price" value=""></input>
            </article>
            
            <article>
                <label>Fréquence</label>
                <select name="frequency" id="frequency">

                    <option value="once a month">
                        Une fois par mois
                    </option>
                    <option value="twice a month">
                        Deux fois par mois
                    </option>
                </select>
            </article>
            
            <article>
            <label>Taille</label>
                <select name="size" id="size">

                    <option value="moyen">
                        Moyen
                    </option>
                    <option value="gros">
                        Gros
                    </option>

                </select>
            </article>
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
            <a href="{{ path('admin_products') }}" class="btn btn-default">Annuler</a>
        </form>
    </section>
{% endblock %}

