#RewriteEngine On
#RewriteCond %{THE_REQUEST} /web/index_dev.php/
#RewriteRule ^/web/index_dev.php/(.*) /$1 [R=301,L]
#RewriteCond %{REQUEST_URI} !/web/index_dev.php/
#RewriteRule ^(.*)$ /web/index_dev.php/$1 [L]
