
@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Overpass|Overpass+Mono');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*Style Reset*/

*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    font-family: 'overpass', sans-serif;
    height: 100%;

}



.traitprofile{
	background: transparent;
    width: 5rem;
    border-bottom: .2rem solid #2F3635;
    margin: auto;
}



.profilename{
    color: #2F3635;
    background-color: transparent;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    font-family: overpass;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 4.2rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    max-width: 40%;
    margin: auto;
    margin-bottom: 5rem;

}

.posteprofil{
    color: #DA367F;
}



.contenuprofil{
    max-width: 98rem;
    margin: auto;
    display: flex;
    height: 100%;
    padding: 2rem 0 2rem 0;
}

.profiletitle{
    display: block;
    text-align: center;
    padding: 2rem 0 2rem;
    margin: auto;
}


#sectionprofil1, #sectionprofil3, #sectionprofil5 {
  width: 50%;
  padding: 2rem;

  flex-direction: column;
  justify-content: space-between;
}

.profilepicture{
 width: 20rem;
 height: 20rem;
 background-size: cover;
 display: block;
 border-radius: 10rem;
 -webkit-border-radius: 10rem;
 -moz-border-radius: 10rem;
 margin: auto;
 
}



#sectionprofil2, #sectionprofil4, #sectionprofil6{
  width: 50%;
  padding: 2rem;
  flex-direction: column;

  justify-content: space-between;
  padding: 2rem;
  margin: 12rem 0 0 0;
}


#sectionprofil7{
   	width:100%;
	float:left;
	padding-top:0px;
}

#formcontact{
    padding: 2rem;
    background-color: #f1f1f1;
    margin: 20rem;
}

.inputcontainer {

        display: block;
        margin-bottom: 3rem;

}

.inputcontainer select{
    
}

.inputcontainer label{

        display: block;
        margin-bottom: .8rem;
        font-size: 1.6rem;

}

.inputcontainer input{

        width: 100%;
        padding: .5rem 1rem;
        height: 4rem;
        border: none;

}

.inputcontainer textarea{

        width: 100%;
        padding: .5rem 1rem;
        height: 4rem;
        border: none;

}



@media (max-width: 700px) {


    #sectionprofil1, #sectionprofil2, #sectionprofil3, #sectionprofil4, #sectionprofil5, #sectionprofil6{
    width:100%;
    margin-top:0;
    }


    .contenuprofil{
    height: auto;
    display: block;
    }

    .contenuprofil > #sectionprofil4{
        order:32; }
    }

    .contenuprofil > #sectionprofil3{
        order: 2; }
    


}
