@import url('https://fonts.googleapis.com/css?family=Satisfy');


#profiles, #contact, #place{
    max-width: 100%;    
}
#profiles h2, h3, #profiles p, #contact h2, #place h2{
    text-align: center;  
}

#profiles h2, #contact h2, #place h2{
     color:#DA367F;
     font-family: satisfy;
     font-size: 3.5rem;
}

/* Qui sommes-nous ? */
#profiles{
    
}

#profiles h3{
  margin-bottom: 10rem;
}

#profiles img{       
    width: 10rem;   
    margin: 1rem auto;
    position: absolute;
    box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
    
    -webkit-border-radius: 50%;
    border-radius: 50%; 
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(100%, -100%);
}

#profiles div + p{
    position: relative;
    font-size: 1.3rem;
    padding: 1rem 3rem;
}

#profiles span{    
        display: none;
    }

/* Plus d'infos */
#contact{
    background-color: #f0f0f0;
    
}

#contact article{
    padding: 1rem 3rem;
}

#formcontact select{
    margin: 1rem auto;
    
}



#formcontact textarea, #formcontact input:not([type="submit"]){
   display: block;
   width: 100%;
    
   color: #2F3635 ;
   background-color: #fff;
   border: solid .2rem #bbbbbb;
   font-family: overpass;
   font-size: 1.2rem;
   font-weight: normal;
   height: 4.2rem;
   margin-bottom: 1rem;  
   line-height: 4rem;
   outline: none;
   padding-left: 1.8rem;
   padding-right: 3rem;
    
}

#formcontact textarea{
    min-height: 20rem;
}

#formcontact input[type="submit"]{

    margin: auto;
    background-color: #303636;
    color: white;  
    border: none;
    cursor: pointer;
}

#formcontact input[type="submit"]:hover{
    background-color: #DA367F;
}

/* Venez nous rencontrer */

#place iframe{
    border: none;
    width: 100%;
    min-height: 25rem;
    padding: 1rem 3rem;
    margin: auto;

}

@media screen and (min-width: 750px){
    
    #profiles h3{
        margin-bottom: 15rem;
    }
    #profiles img{
        width: 15rem;
        
    }
    
    #profiles div + p{
        font-size: 1.5rem;
    }
    
    #profiles article{
        display: inline-block;
        width: 32%;
        vertical-align: top;
    }
    
    #formcontact textarea, #formcontact input:not([type="submit"]){
        display: block;
        max-width: 70rem;

        margin: 1rem auto;
    }

    #formcontact input[type="submit"], #choice{

        margin: auto;

    }
    #place{
        margin: auto;
        max-width: 70rem;
    }
    #place iframe{
        height: 40rem;
        width: 100%;
    }
    
    
   
}


