
@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Overpass|Overpass+Mono');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*Style Reset*/

*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 1.4rem;
    font-family: 'overpass', sans-serif;
    height: 100%;

}



.traitprofile{
	background: transparent;
    width: 5rem;
    border-bottom: .2rem solid #2F3635;
    margin: auto;
}



#profiles h3{
    color: #2F3635;
    background-color: transparent;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    font-family: overpass;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 3.2rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    max-width: 30%;
    margin: auto;
    margin-bottom: 2rem;

}

#profiles b{
    color: #DA367F;
}

.fa{ 
    font-size: 2em;
    color: #ffffff;
}

.fa:hover{ 
    font-size: 2em;
    color: #DA367F;
}

#profiles > section{
    background-color: #ffffff;
    max-width: 98rem;
    margin: auto;
    display: flex;
    height: 100%;
    padding: 2rem 0 2rem 0;
}

#profiles h2{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    padding: 2rem 0 2rem;
    margin: auto;
}


#profiles article{
  width: 50%;
  padding: 0;

  flex-direction: column;
  justify-content: space-between;
}

#profiles img{
 width: 10rem;
 height: 10rem;
 background-size: cover;
 display: block;
 border-radius: 10rem;
 -webkit-border-radius: 10rem;
 -moz-border-radius: 10rem;
 margin: auto;
 
}

#profiles section p{
  
    display: block;
    text-align: center;
    padding: 2rem 0 2rem;
    margin: auto;

}

#profiles span{
    display: none;
}

#sectionprofil7{
    width:100%;
    float:left;
    padding-top:0px;
}

#savoirplus{
    width: 100%;
    padding: 5rem;
}

#profiles{
    background-image: url('../img/contact_bg2.png');
    background-size: contain;

}

#place{
    background-color: #2F3635;
}


#contact{
    background-image: url('../img/contact_bg.png');
    background-size: cover;
}


#sectionmapcontact{
    max-width: 98rem;
    padding: 5rem 0 5rem 0;
    color:#ffffff;
    margin: auto;
}

#mapcontact{
    border: none;
    width: 100%;
    min-height: 50rem;
}

#titrerencontre{
    text-align: center;
    margin-bottom: 2rem;
}

#switchmap{
    text-align: center;
    margin: 2rem;
}

#contact form{
    padding: 2rem;
    background-color: #f1f1f1;
    max-width: 50rem;
    margin: auto;
}

#contact div {

        display: block;
        margin-bottom: 3rem;

}

#choice{
    color: #2F3635;
    background-color: #fff;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    outline: none;
    display: block;
    font-family: overpass;
    font-size: 1.2rem;
    font-weight: normal;
    height: 4.2rem;
    line-height: 4rem;
    width: 100%;
    text-align: center;

}

/*{contact label{

        display: block;
        margin-bottom: .8rem;
        font-family: overpass;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2rem;

}*/
#contact form{
    margin: auto;
}

#contact input:not([type="submit"]), #contact select{
    
    width: 100%;
    padding: .5rem 1rem;
    height: 4rem;
    border: none;
    font-family: overpass;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
       
}

#contact textarea{

    width: 100%;
    padding: .5rem 1rem;
    height: 10rem;
    border: none;

}

#contact input[type="submit"]{
    border-radius: 0;
        
}

#contact input:not([type="submit"]), #coice, #contact textarea{
    margin-bottom: 1.5rem;
}

#contact select, #contact input[type="submit"]{
    margin: auto;
    max-width: 50%;
    margin-bottom: 1.5rem;
}


@media (max-width: 750px) {
    
    
    
    #profiles section p{
      width: 50%;
      padding: 2rem;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;
    }

    #profiles article, #profiles div{
    width:100%;
    margin-top:0;
    }


    #profiles section{
    height: auto;
    display: block;
    }

    #laetita{
        order:32; 
    }

    #laetita{
        order: 2; 
    }
    


}
