body{
    font-size: 1.4rem;
    font-family: 'overpass', sans-serif;
    height: 100%;

}

/* Style Qui sommes-nous ?*/

.traitprofile{
    background: transparent;
    width: 5rem;
    border-bottom: .2rem solid #2F3635;
    margin: auto;    
}

#profiles div{
    margin-bottom: 2rem;
}

#profiles h3{
    color: #2F3635;
    background-color: transparent;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    font-family: overpass;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 3.2rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    max-width: 25%;
    margin: auto;
    margin-bottom: 1rem;

}

#profiles b{
    color: #DA367F;
}

#profiles * section{
    
    margin: auto;
    background-color: #ffffff;
 
    height: 100%;
    padding: 2rem 0;
}

#profiles h2, #place h2, #contact h2{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    padding: 2rem 0 2rem;
    margin: auto;
}


#profiles article{
   width: 50%;
  padding: 2rem;

  flex-direction: column;
  justify-content: space-between;

}

#profiles img{
    width: 10rem;
    height: 10rem;
    background-size: cover;
    display: block;
    margin: auto;
    
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    
    box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
     -webkit-box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
    
 
}

#profiles p{
  
    display: block;
    text-align: center;
    padding: 3rem 15rem;
    margin: auto;
    

}


#profiles article, profiles p{
        width:100%;
    margin-top:0;

}

#profiles * section{
    height: auto;
    display: block;

}

#profiles span{
    /*display: none;*/
}

#profiles{
    background-image: url('../img/contact_bg2.png');
    background-size: contain;

}

/* Style Où nous trouver ?*/

#place{
    background-color: #2F3635;
}

#place i{
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
}

#place .fa{ 
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
 
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  
}

@-webkit-keyframes glowing {
  0% { background-color: rgba(218, 54, 127, 0.7); -webkit-box-shadow: 0 0 1.5rem #DA367F; }
  50% { background-color: #2F3635;-webkit-box-shadow: 0 0 5rem #2F3635;}
  100% { background-color: rgba(218, 54, 127, 0.7); -webkit-box-shadow: 0 0 3rem #DA367F; }
}

@-moz-keyframes glowing {
  0% { background-color: rgba(218, 54, 127, 0.7); -moz-box-shadow: 0 0 1.5rem #DA367F; }
  50% { background-color: #2F3635;-moz-box-shadow: 0 0 5rem #2F3635;}
  100% { background-color: rgba(218, 54, 127, 0.7); -moz-box-shadow: 0 0 3rem #DA367F;; }
}

#place .fa:hover{ 
    font-size: 2em;
    color: #DA367F;
}

#place article{
   
    max-width: 98rem;
    padding: 2rem 0;
    color:#ffffff;
    margin: auto;
}

#place iframe{
    border: none;
    width: 100%;
    min-height: 20rem;
    display: none;
  
}

#place h2{
    text-align: center;
    margin-bottom: 1rem;
}

#place p, #contact p{
    text-align: center;
    margin: 2rem;
}

/* Style Nous contacter */

#contact > article h2{ 
    margin-top: 0; 
    padding-top: 2rem; 
} 


#contact article + div{
    width:50%;
    float:left;
    padding-top:0px;
}


#contact form{
    padding: 2rem;
    background-color: #f1f1f1;
    max-width: 50rem;
    margin: auto;
}

#contact div {

        display: block;
        padding-bottom: 3rem;

}

#choice{
    color: #2F3635;
    background-color: #fff;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    outline: none;
    display: block;
    font-family: overpass;
    font-size: 1.2rem;
    font-weight: normal;
    height: 4.2rem;
    line-height: 4rem;
    width: 100%;
    text-align: center;

}

/*{contact label{

        display: block;
        margin-bottom: .8rem;
        font-family: overpass;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2rem;

}*/
#contact form{
    margin: auto;
    height: 50%;
}

#contact label{
    display: block;
    margin-bottom: .8rem;
    font-family: overpass;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
}

#contact input:not([type="submit"]), #contact select{
    
    width: 100%;
    padding: .5rem 1rem;
    height: 4rem;
    border: none;
    font-family: overpass;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
       
}

#contact textarea{

    width: 100%;
    padding: .5rem 1rem;
    height: 10rem;
    border: none;

}

#contact input[type="submit"]{
    border-radius: 0;
    width: 100%;
        
}

#contact input:not([type="submit"]), #choice, #contact textarea{
    margin-bottom: 1.5rem;
}

#contact select{
    margin: auto;
    max-width: 50%;
    margin-bottom: 1.5rem;
}


@media screen and (min-width: 900px) {
    
    #profiles h3{

        font-size: 1.5rem;
        height: 3.2rem;
        max-width: 50%;
        margin: auto;
        margin-bottom: 5rem;

    }
    
    #profiles section{
        width: 60%;
        margin: auto;
        background-color: transparent;
        display: flex;
        height: 100%;
        padding: 2rem 0;
    }

    
    #profiles img{
        width: 15rem;
        height: 15rem;
        border-radius: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
       
    }
    
    #profiles article{
        width: 50%;
        padding: 2rem;

        flex-direction: column;
        justify-content: space-between;

    }
    
    
    #profiles p{
        width: 30%;
        padding: 5rem;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        margin: auto;

    }
    
    #laetitia {
       order: 2; 
    }
    
   
   
   
    #place iframe{
        min-height: 50rem;

    }
    
    #contact{
        background-image: url('../img/contact_bg.png');
        background-size: cover;
    }
   
  
}

@media screen and (max-width: 530px){
        
    #profiles{
        background-image: none
    } 
}
