
/*Style Homepage, index*/
/*Style général*/

img{

}

.contenuindex{
    max-width: 98rem;
    margin: auto;
}

/*Section home1*/
#sectionhome1{
    background-color: #F0F0F0;
    background-image: url('../img/header.png');
    overflow: inherit;
    background-position: center right;
    background-size: cover;
    padding: 8rem 4rem;
}

#sectionhome1 img{
    width: 100%;
}

#sectionhome1 article{
    display: inline-block;
    width: 45%;
    padding-bottom: 1rem;
}

#sectionhome1 h2, #sectionhome1 p{
    margin-bottom: 2rem;
}

#sectionhome1 form select{
    margin-right: 2rem;
}

#choix input[type=submit]{
    max-width: 100%;
    background-color: #303636;
    color: white;
    padding: 1rem 1.5rem;
    margin: 8px 0;
    border: none;

    cursor: pointer;
}

#choix input[type=submit]:hover{
    background-color: #DA367F;
}

#sabonner{
    display: none;
}

/*Section home2*/

#sectionhome2{
    text-align: center;
}

#sectionhome2 article{
    display: inline-block;
    width: 33%;
    text-align: center;
}

#sectionhome2 h2, #sectionhome2 h2+p{
    text-align: center;
    padding: 1rem 0;
    margin: 1rem auto;
    width: 70%;
}

#sectionhome2 article+p{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 40%;
    display: block;
    margin: 4rem auto;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: .1rem black groove;
    text-align: center;
    padding: 1.5rem 3rem;
}

/*Section home3*/
#sectionhome3{
    background-image: url('../img/photoproducteurs.png');
    background-size: cover;
    background-position: center right;
    padding: 8rem 4rem;
    text-align: center;
}

#sectionhome3 article{
    text-align: center;
    background-color: rgba(245, 242, 242, 0.9);
    width: 60%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
}

#sectionhome3 h2, #sectionhome3 p{
    padding: 2rem;
}

#sectionhome3 #line{
    line-height: 3rem;
}

#sectionhome3 #border{
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    width: 40%;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: .1rem black groove;
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 0 auto;
}

/*Section home4*/

#sectionhome4{
    background-color: #F7F7F7;
    height: auto;
    padding-bottom: 3rem;
    text-align: center;
}

#sectionhome4 article{
    vertical-align: top;
    display: inline-block;
    width: 18%;
    margin: 2rem;
}

#sectionhome4 img{
    width: 60%;
    margin-bottom: 1rem;
}

#sectionhome4 h2{
    text-align: center;
    width:70%;
    margin: 0 auto;
    padding: 4rem;
}

#sectionhome4 #box{
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    width: 40%;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: .1rem black groove;
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 3rem auto;
}

#sectionhome4 #refractaire img{
    width: 70%;
}

/*Style sectionhome5*/
#sectionhome5{
    padding: 4rem;
}
#sectionhome5 div{
    background-color: #F7F7F7;
}

#sectionhome5 article{
    vertical-align: top;
    display: inline-block;
    width: 45%;
    height: auto;
}

#sectionhome5 #p1{
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline;
    width: 20%;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: .1rem black groove;
    padding: 2rem 4rem;
    margin: 3rem auto;
}

#sectionhome5 p{
    margin-bottom: 6rem;
}

/*Style section home6*/
#sectionhome6{
    text-align: center;
    margin: 2rem 2rem 4rem 2rem;
    padding-right: 2rem;
}

#sectionhome6 h2{
    margin: auto;
    font-size: 3rem;
    width:50%;
    padding: 2rem;

}

#section article{
    margin: auto;
    width: 85%;
    margin: 2rem;
}

#sectionhome6 img{
    display: inline-block;
    width: 12%;
    max-width: 170px;
    margin: 2rem;
    vertical-align: middle;
}


/*
Requête média
Ecran d'une taille jusqu'à 850px
*/

@media all and (max-width: 850px){

    /*Style sectionhome1*/
    #sectionhome1 p, #sectionhome1 h2{
        color: black;
        text-align: left;
        padding: 0 2rem;
    }

    #sectionhome1 form{
        display: none;
    }

    #sectionhome1 article{
        width: 100%;
        background-color: rgba(245, 242, 242, 0.9);

    }

    #sabonner{
        display: block;
        max-width: 100%;
        background-color: #303636;
        color: white;
        padding: 10px 15px;
        margin-bottom: 1rem ;
        border: none;

        cursor: pointer;
        margin: 0 auto;
    }

    #sabonner:hover{
    background-color: #DA367F;
    }

    /*Style sectionhome2*/

    #sectionhome2 article{
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    /*Style sectionhome3*/
    #sectionhome3 article{
        width: 100%;

        background-color: rgba(245, 242, 242, 0.9);
    }

    #sectionhome3 p{
        display: none;
    }

    #sectionhome3 #border{
        width: 80%;
    }

    /*Style sectionhome4*/
    #sectionhome4{
        height: auto;
        padding-bottom: 2rem;
    }

    #sectionhome4 article{
        display: block;
        text-align: center;
        width: 50%;
        margin: auto;
        padding-right: 2rem;
    }

    #sectionhome4 img, #sectionhome4 p{
        text-align: center;
        width: 14rem;
        margin: 1rem auto;
    }

    /*Style sectionhome5*/

    #sectionhome5{
        text-align: center;
    }

    #sectionhome5 div{
        margin: 1rem auto;
        padding: .3rem 1rem 3rem 1rem;
        background-color: #F7F7F7;
        width: 100%;
        height: auto;
    }

    #sectionhome5 article{
        display: block;
        width: 100%;
    }

    #sectionhome5 article h2, #sectionhome5 article h3, #sectionhome5 article p{
        margin: 2rem 0;
        padding: 1rem 0;
    }

    #sectionhome5 article h3{
        font-size: 1.6rem;
    }

    #sectionhome5 article > p{
        display: none;
    }

    #sectionhome5 img{
        margin-top: 1.5rem;
    }

    /*Style sectionhome6*/
    #sectionhome6{
        display: none;
    }

}