/*Style Homepage, index*/
/*Style général*/


a{
    color: black;
}

/*a:hover{
    color:white;
}*/


.box {
    font-family: 'overpass', sans-serif;
    font-weight: 400;
    display: block;
    width: 45%;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border: .2rem #303636 solid;
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 3rem auto;
    background-color: white;
}

.box:hover{
    background-color: #303636;
    color: white;
    
}

.traitprofile{
    background: transparent;
    width: 5rem;
    border-bottom: .2rem solid #2F3635;
    margin: auto;
    margin-bottom: 2rem;

}

.trait{
    background: transparent;
    width: 5rem;
    border-bottom: .2rem solid #2F3635;
    margin-bottom:2rem;
}

.contenuindex{
    max-width: 98rem;
    margin: auto;
}

#mainindex{
    background: #ffffff;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}


/*Section home1*/
#sectionhome1{
    background-color: #F0F0F0;
    background-image: url('../img/header2.jpg');
    overflow: inherit;
    background-position: center;
    background-size: cover;
    padding: 8rem 4rem;
}

.btn_plus{
    text-align: center;
}

.btn_plus b{
    font-size: 2rem;
    vertical-align: middle;
    font-family: spectral;
    font-weight: 300;
}

#sectionhome1 article{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 37%;
    padding-bottom: 1rem;
    padding: 5rem;
}

#sectionhome1 h2{
    text-align: center;
    font-family: spectral;
    font-weight: 300;
    font-size : 2.6rem;
    font-style: italic;
}

#sectionhome1 h2, #sectionhome1 p{

    margin-bottom: 2rem;
}

#sectionhome1 p{
     font-size: 1.5rem;
 
 }
#sectionhome1 form select{
    color: #2F3635;
    background-color: #fff;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    font-family: overpass;
    font-size: 1.2rem;
    font-weight: normal;
    height: 4.2rem;
    line-height: 4rem;

}

#choix input[type=submit]{
    max-width: 100%;
    background-color: #303636;
    color: white;
    padding: 1rem 1.5rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#choix input[type=submit]:hover{
    background-color: #DA367F;
}


/*Section home2*/


#sectionhome2 {
    text-align: center;
    padding: 5rem;
    background-color: #F0F0F0;
    overflow: auto;
}


#sectionhome2 img{
    display: inline-block;
    width: 60%;       
    float: left;
}

#sectionhome2 article{
    display: inline-block;
    width: 35%;    
    margin: 0 0 0 2rem;
    vertical-align: top;

}

#sectionhome2 h2{
    margin: 0 auto 2rem;
}

#sectionhome2 p{
    background-color: white;
    padding: 6rem 5rem;
    
}



/*.sectionourprojectl{
    background: #ffffff;
    padding: 5rem;
    margin: 40rem 0rem 0rem 0rem;
    width: 37%;
}*/



/*Section home3*/

#sectionhome3{
    background-image: url('../img/photoproducteurs.png');
    background-size: cover;
    background-position: center right;
    padding: 8rem 4rem;
    text-align: center;
}

#sectionhome3 article{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    height: 100%;
    padding: 2rem;

}

#sectionhome3 h2, #sectionhome3 p{
    padding: 2rem;
    margin: auto;
}

#sectionhome3 #line{
    line-height: 3rem;
}

#sectionhome3 #border{
    font-family: 'overpass', sans-serif;
    font-weight: 400;
    display: block;
    width: 40%;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border: .2rem black groove;
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 0 auto;
}

/*Section home4*/

#sectionhome4{
    background: url('../img/section_bg.png');
    background-color: transparent;

    background-size: cover;
    height: 54rem;
    padding: 5rem;
    text-align: center;

}

#sectionhome4 article{
    vertical-align: middle;
    display: inline-flex;
    width: 20%;
    margin-bottom: 2rem;
    height: 15rem;
}

#sectionhome4 img{
    width: 50%;
    margin-bottom: 2rem;
    height: 10rem;
}
#sectionhome4 figure{
    height: 10rem;
    width: 20rem;
}
    
#sectionhome4 h2{
    text-align: center;
    width:70%;
    margin: 0 auto;
    padding: 4rem 4rem 2rem 4rem;
}

#sectionhome4 #box{

}

#sectionhome4 #refractaire img{
    width: 50%;
}

/*Style sectionhome5*/
#sectionhome5{
    padding: 4rem;
}

#sectionhome5 h3{
    font-family: spectral;
    font-weight: 300;
    font-size : 2.6rem;
    font-style: italic;

}

#sectionhome5 div{
    background-color: #F0F0F0;
}

#sectionhome5 article:nth-child(1){
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: auto;
    padding: 3rem;
}


#sectionhome5 article:nth-child(2){
    vertical-align: top;
    display: inline-block;
    width: 55%;
    height: auto;
    padding: 3rem;
}

#sectionhome5 img{
    width: 120%;
}



#sectionhome5 p{
    margin-bottom: 6rem;
    line-height: 2.2rem;
}

/*Style section home6*/
#sectionhome6 {
    text-align: center;
    /* margin: 2rem 2rem 0rem 2rem; */
    padding: 4rem;
    background-color: #efefef;
}

#sectionhome6 h2, #sectionhome7 h2{
    margin: auto;
    font-size: 3rem;
    width:50%;
    padding: 2rem;

}

#section article{
    margin: auto;
    width: 85%;
    margin: 2rem;
}

#sectionhome6 img:not(#france_inter){
    display: inline-block;
    width: 12%;
    max-width: 170px;
    margin: 2rem;
    vertical-align: middle;
}


#sectionhome7{
    text-align: center;
    padding: 4rem;
}

.flux{
    display: inline-block;
    width: 49%;
    height: 42rem;
    margin: auto;
    text-align: center;
    vertical-align: top;
}

#sectionhome7 iframe{
    margin: auto;
}

#instafeed{
    height: 35rem;
}

.snapwidget-widget{
    height: 35rem;
}

#facebook{
    border: none;
    overflow: hidden;
    width: 102%;
}

#sociallink{
    font-size: 2rem;
}

#sociallink i{
    padding: 2rem;
    color: #453d44;
}



/*
Requête média
Ecran d'une taille jusqu'à 850px
*/

@media all and (max-width: 1040px){
    #sectionhome1 article{
        width: 50%;
    }
    
    #sectionhome2{
        padding: 4rem;
    }
    #sectionhome2 article{
        width: 40%;
    }
    
    #sectionhome2 img{
        width: 55%;
    }
    #sectionhome2 p{
        padding: 2rem 3rem;
    }
    
    #sectionhome5 h3 {
        font-size: 2rem;
    }
    
    sectionhome5 p{
        margin-bottom: 2rem;
    }
    
    #sectionhome5 article:nth-child(1) {
        width: 45%;
    }
    
    #sectionhome5 article:nth-child(2) {
        width: 53%;
    }
}

@media all and (max-width: 850px){
    
    h2{
        font-size: 2.3rem;
        padding: 2rem;
        
    }

    .trait{
        background: transparent;
        width: 5rem;
        margin: auto;
        border-bottom: .2rem solid #2F3635;

    }

    #mainindex{
        background-image: url('../img/general_bg.png');
        background-position: center;
        background-size: cover;

    }
    /*Style sectionhome1*/
    #sectionhome1 p, #sectionhome1 h2{
        color: black;
        text-align: left;
        padding: 0 2rem;
    }

    #sectionhome1 form{
        display: none;
    }

    #sectionhome1 article{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 3rem;
    }
    
 
    .box{
        font-size: 1.2rem;
        display: inline-table;
        width: 80%;
    }

    
    #sectionhome4 .box:hover{
        background: #303636;
    }


    /*Style sectionhome2*/

    #sectionhome2 {
        text-align: center;
        padding: 4rem;
    }
    
    #sectionhome2 article, #sectionhome2 img {
        display: inline-block;
        width: 100%;
    }
    
    #sectionhome2 article{
        margin: 0 0 2rem 0;
    }

    /*Style sectionhome3*/
    #sectionhome3 article{
        width: 100%;

        background-color: rgba(255, 255, 255, 0.9);
    }

    #sectionhome3 #border{
        width: 80%;
    }

    /*Style sectionhome4*/
    #sectionhome4{
        height: auto;
        padding: 0 0 2rem 0;
    }


    #sectionhome5 article:nth-child(1){
        vertical-align: top;
        display: inline-block;
        width: 55%;
        height: auto;
    }


    #sectionhome5 article:nth-child(2){
        vertical-align: top;
        display: inline-block;
        width: 39%;
        height: auto;
    }
    
    
    #sectionhome4 img{
        text-align: center;
        width: 14rem;
        margin: 1rem auto;
    }

    /*Style sectionhome5*/

    #sectionhome5{
        text-align: center;
        padding: 0rem;
    }

    #sectionhome5 div:not(.trait){
        margin: 2rem auto;
        padding: .3rem 1rem 3rem 1rem;
        background-color: #F7F7F7;
        /* width: 100%; */
        height: auto;
    }

    #sectionhome5 article{
        display: block;
        width: 100%;
        padding: 0 0 2rem 0;
    }

    #sectionhome5 article h2, #sectionhome5 article h3, #sectionhome5 article p{
        margin: 2rem 0;
        padding: 1rem 0;
    }

    #sectionhome5 article h3{
        font-size: 1.6rem;
        width: 80%;
        margin: auto;
    }
    
    #sectionhome5 img{
        width:80%;
    }
    .infos{
        display: none;
    }

    #sectionhome5 img{
        margin-top: 1.5rem;
    }

    

}


@media all and (max-width: 700px){
    .contenuindex figure{
        width: 100%;
        letter-spacing: -.1rem;
        font-size: 1.3rem;
     } 
     
     #sectionhome4 article{
         width: 35%;
     }
      

    #sectionhome5 .contenuindex article{
        display: block;
        width: 100%;
        padding: 1rem;
    }
    
    .box{
        margin: 0rem;
    }
    
    /*Style sectionhome6*/
    #sectionhome6{
        display: none;
    }
}
