@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,700,800i');

@import url('https://fonts.googleapis.com/css?family=Spectral:300i,400,600,600i,700,700i');



/*Supprimer toutes les marges*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* 1rem = 10px */
html{
    font-size: 62.5%;
}

body{
    font-size: 1.3rem;
    font-family: Overpass;
    font-weight: 300;
    margin: 0 auto;
}

h2{
    font-family: 'overpass', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3{
    font-family: Overpass;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
}

a, a:hover, a:visited, a:focus{
    text-decoration : none;
}
#menu{
    display: none;
}

header a, footer a{
    font-family: 'overpass', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #0F0A0F;
}

img{
    max-width: 100%;
}

/*Style Header*/

header{
    color: white;
    padding: 2rem;
    position: relative;
}

header article{
    display: block;
    text-align: center;
   
}

#navAdmin{  
    font-size: 1.7rem;
    margin-left: 2rem;
    position: absolute;
    top: 2rem;
    left: 0;
}
#navAdmin:hover{
    color:#DA367F; 
}

#menuAdmin{
    display: none;
    position: absolute;
    margin-top: 5rem;
    min-width: 11rem;
    overflow: auto;
    z-index: 1;
}

header nav{
    text-align: center;
}

header li{
    display: inline-block;
    margin: 0 1.5rem;
}

header nav li a:hover, .dropdown-content a:hover, header nav a:active:not(.nobar){
    color: #DA367F;
    text-decoration: none;
    border-bottom: 0.2rem solid #DA367F;
}

#lg{
    position: absolute;
    left: 50%;
    margin: -8rem auto 0 -10.5rem;

}
#mainNav{   
   margin-top:7rem;
  
}

#mainNav li:nth-child(3){
    margin-right: 30rem;
}

#mainNav li{
   margin-top: 2rem;
  
}

/* Accès mon compte et panier */

#moncompte, #icotopright{
    position: absolute;
    top: 2rem;
    right: 0;
}

#moncompte{
    right: 10rem;
    margin-right: 4rem;
}

#icotopright{
    right: 2rem;
}

#moncompte a, #icotopright a{
    border-bottom: none;    
}

.fa-user-circle, .fa-shopping-basket {
    font-size: 1.4rem;
}

/* Menu déroulant pour le profil et la déconnexion */
.dropbtn{
    cursor: pointer;
}

#dropdown a{
    display: block;  
    text-align: justify;
  
}
 .dropdown-content{
   
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 11rem;
    overflow: auto;
    z-index: 1;
}

/*.dropdown-content a{
    color: black;
    padding: 1.2rem 0.5rem;
    text-decoration: none; 
    display: block;
}*/
   

.show {display:block;}


/* Menu carte cadeau en haut à droite */
#gift_card{
    position: absolute;
    top: 5rem;
    right: 2rem;
}

#gift_card a{
    color: #DA367F;
    font-weight: bold;
    letter-spacing: 0rem;
    border-bottom: none;
}

/*Style footer*/

#footer1{

    background: #F2F2F4;
    background-image: url('../img/section_bg.png');
    background-size:cover;
    height: 35rem;
    background-position: center;
    width: 100%;
    padding: 2rem 0;
    margin:auto;
}

footer section{
    text-align: center;
    display: inline-block;
}


footer #section1, footer #section2{
    width: 29%;
    vertical-align: top;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



#section3 p{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    font-family: 'overpass', sans-serif;
    font-weight: 400;
    display: block;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border: .2rem #303636 solid;
    text-align: center;

}

#section3 p:hover{
    background-color: #303636;
    color: white;
}

#section3{
    margin-top: 3rem;
}

/*Footer aside*/

footer aside{
    background-color: white;
    width: 100%;
}

footer aside article{
    display: inline-block;
    text-align: center;
}

footer aside article, footer aside h2{
    display: inline-block;
}

footer aside #article1{
    width: 20%;
}

footer aside #article2, footer aside #article3{
    width: 35%;
}

footer aside #article1 i{
    padding: 1rem;
    margin: 0 0 2rem 3rem;
}

footer aside #article2 i, footer aside #article3 i{
    margin : 0 0.5rem;
}

/*Style Backoffice*/
.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
Requête média
Ecran d'une taille de 320px
*/

@media screen and (max-width: 1450px){
    #menuAdmin span{
        display: block;
    }
}

@media screen and (max-width: 1130px){
    
    #lg {
        margin: auto;
        position: relative;
        left: 0;         
    }
    
    #lg img{
        margin-top: -1.5rem;
    }
   
   
    #mainNav{
        margin-top: -2rem;
        margin-bottom: -2rem;
    }
    
    #mainNav li:nth-child(3){
        margin-right: 0;
    }
}



@media screen and (max-width: 900px){

/*Style header*/
    header nav li, #menu{
        display: block;    
    }
    
    #menu:hover{
         color: #DA367F;
    }

    #moncompte span, #icotopright span, #mainNav{
        display: none;
    }
    .fa-user-circle{
        margin-right: -5rem;
    }

    .fa-user-circle, .fa-shopping-basket, #menu{
        font-size: 2rem;
    }

    #moncompte a{
        right: 2rem;
    }
    
    #mainNav{
        margin-top: 0;
        margin-bottom: 2rem;
     }
     
     #mainNav li, #myDropdown a{
        margin-top: 1rem;

     }
   


/*Style footer*/
    #footer1{
        min-height: 70rem;
    }

    footer p{
        font-size: 1rem;
    }

    footer #section1, footer #section2{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 45%;
    }

    footer #section1{
        margin-left: 1.5rem;
    }

    footer #section3{
        text-align: center;
        max-width: 52rem;
        margin: 0 auto;
        padding: 1.5rem;
        display: block;
    }

/*Style aside*/

    aside #article1{
        display: none;
    }

    aside #article2, aside #article3{
        display: block;
        margin: auto;
    }

    aside #article2 h2{
        display: block;
    }

    footer aside #article2, footer aside #article3 {
        width: 100%;
        padding: 1rem;
    }

    aside #article3 form{
        max-width: 32rem;
        margin: 0 auto;
    }

    aside #article3 [type="submit"]{
        margin-top: 1rem;
    }
}


/*
Requête média
Ecran d'une taille de 320px
*/

@media screen and (min-width: 901px){
    footer section{
        width: 30%;
    }
}


/*Style form  inscription */
#forminscription{
    background-color: #f2f2f2;
    text-align: center;
}

#forminscription input[type=text], #forminscription input[type=password], select {
    max-width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    max-width: 100%;
    background-color: #303636;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #DA367F;
}

#forminscription input[type=submit]:hover {
    background-color: lightgray;
}

#forminscription{
    background-color: #f2f2f2;
    text-align: center;
}

#forminscription input[type=text], #forminscription input[type=password], select {
    max-width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    max-width: 100%;
    background-color: #303636;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #DA367F;
}

#forminscription input[type=submit]:hover {
    background-color: lightgray;
}

#footer1{
    background-repeat: no-repeat;
}