
.nice-select {
    -webkit-tap-highlight-color: transparent;


    color: #2F3635;
    background-color: #fff;
    border-radius: 0rem;
    border: solid .2rem #2F3635;
    box-sizing: border-box;

    clear: both;
    cursor: pointer;
    display: block;
    float: left;


    font-family: overpass;
    font-size: 1.2rem;
    font-weight: normal;
    height: 4.2rem;

    line-height: 4rem;
    outline: none;
    padding-left: 1.8rem;
    padding-right: 3rem;
    position: relative;

    text-align: left !important;

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    width: auto;
    }


  .nice-select:hover {
    border-color: #dbdbdb;
    }

  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999;
    }
  .nice-select:after {
    border-bottom: .2rem solid #999;
    border-right: .2rem solid #999;
    background-color: #2F3635;
    content: '';
    display: block;
    height: .5rem;
    margin-top: -0.4rem;
    pointer-events: none;
    position: absolute;
    right: 1.2rem;
    top: 50%;

    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
    }

    .nice-select option{

      color: #2F3635;
      background-color: #fff;
      border-radius: 0rem;
      border: solid .2rem #2F3635;
      box-sizing: border-box;
    }
