
@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Overpass|Overpass+Mono');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*Style Reset*/

*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    font-family: 'overpass', sans-serif;
    height: 100%;

}

.ourprojecttitle{
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
}

#sectionourproject2 .fa, #sectionourproject3 .fa, #sectionourproject4 .fa{
    font-size: 8rem;
}


/*style main */

#mainourproject1{

    background-image:url('../img/photo10.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40rem;
}

#mainourproject2{

    background-image:url('../img/contact_bg2.png');
    background-size: cover;
    background-position: center;
}


#mainourproject3{

    background-image:url('../img/photo13.jpg');
    background-size: cover;
    background-position: center;

}

.contenuourproject{
    max-width: 98rem;
    margin: auto;
    display: flex;
    height: 100%;
    padding: 2rem 0 2rem 0;
}

.sectionourproject{
    background: #ffffff;
    padding: 5rem;
    margin: auto;
    width: 50%;
}

.descriptionourproject{
    color: #565656;
    font-size: 1.5rem;
    line-height: 2.2rem;
}


#sectionourproject2, #sectionourproject3, #sectionourproject4{
  width: 50%;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4rem 0 4rem;
  text-align: center;
}

.howproject{
    text-align: left;
    margin: 4rem 0 4rem 0;
}





@media (max-width: 700px) {


    .sectionourproject{
        background: rgba(255, 255, 255, 0.9);
        padding: 5rem;
        margin: auto;
        width: 100%;
    }


    .contenuourproject{
        height: auto;
        display: block;
    }

    #sectionourproject1{
        width:100%;
        padding:2rem;

    }

     #sectionourproject2, #sectionourproject3, #sectionourproject4{
        margin: auto;
        width: 100%;
     }
}