
@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Overpass|Overpass+Mono');

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

#projetitre{
    text-align:center;
    margin-bottom:2rem;

}

h3{
    text-align:center;
}

#textpres{
    text-align:justify;
    text-align:left;
}


/*SECTION 1 */

#sectione{
    max-width:100%;
    padding:3rem;
    background-image:url(../img/photo10.jpg);
    background-size: cover;
}

#articleone{
    border:.1rem rgba(21, 14, 14, 0.28) groove;
    width:15%;
    padding:3rem;
    box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
    cursor:pointer;
}

#articleone:hover{
    opacity:0.8;
    background-color:rgba(171, 143, 143, 0.09);
}

#textpres{
    text-align:justify;
    color:rgba(21, 19, 19, 0.76);
}

#artmoncercle{
    position:absolute;
    right:25rem;
    top:38rem;
}

#moncercle{
    border-radius:50%;
    width:13rem;
    height:9rem;
    border: 1px rgba(255,255,255,0.7) solid;
    vertical-align:middle;
    color: white;
    text-transform:uppercase;
    text-align:center;
    display:table-cell;
    font-weight:bold;
    font-size:2rem;
    font-family:'Dancing Script', cursive;
}



/*SECTION 2*/ 

#sectionne{
    max-width:100%;
    background-color:#F2F2F4;
    padding:5rem;
}

h3:after{
    content: " ";
    background: rgba(0, 0, 0, 0.23);
    display: block;
    height: .3rem;
    width:5rem;
    margin:2rem auto;
}

#articleprojet3,#articleprojet4,#articleprojet5{
    text-align:center;
    margin-bottom:2rem;

}


 .fa-handshake-o{
    font-size:5rem;
    color:#DA367F;
}

.fa-heart{
    font-size:5rem;
    color:#DA367F;
}

.fa-telegram{
    font-size:5rem;
    color:#DA367F;
}

#titleprojet{
    font-family:'Open Sans Condensed', sans-serif;
    font-size:2rem;
}

#titleprojet2{
    font-family:'Open Sans Condensed', sans-serif;
    font-size:2rem;
}

#titleprojet3{
    font-family:'Open Sans Condensed', sans-serif;
    font-size:2rem;
}


/* SECTION 3*/
#sectiona{
    padding:8rem;
    max-width:100%;
    background-image:url(../img/photo12.jpg);
    background-size: cover;

}

#articlefourth{
    border:.1rem rgba(21, 14, 14, 0.28) groove;
    width:80%;
    box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
    cursor:pointer;
    padding:1rem;
}

#articlefourth:hover{
    opacity:0.8;
    background-color:rgba(171, 143, 143, 0.09);
}

