

@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Overpass|Overpass+Mono');

body{
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

img{
    max-width:100%;
}

#pres{
    float:right;
    width:50%;
    box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
}

#remi{
    float:left;
    width:30%;

}

h2{
    font-size:2rem;
    text-align:center;
    margin-bottom:3rem;
}


#firstarticle{
    width:47%;
    text-align: justify;
}

iframe{
border:none;
width: 90rem;
min-height: 45rem;
margin:2rem 50rem;
}


#secti{
    max-width:98rem;
    margin:auto;
    padding:2rem;
}

#sect{
    background-color:#F2F2F4;
    margin:auto;
    padding:5rem;
    max-width:98rem;
}

#sectio{
    max-width:98rem;
}

h3{
    margin-bottom:2rem; 
    text-align:center;
    
}

h4{
    margin:1rem;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:2rem;
    margin-bottom:3rem;
}


#prodtitle{
    text-align:right;
    
}   

h5{
  font-family:'Open Sans Condensed', sans-serif;
  font-size:2rem;
  text-decoration: underline;

}

#name{
    border:.1rem black groove;
    padding:.5rem;
    width: 20rem;
    text-align:center;
    background-color:#fff;
    
}

#arti{
    width:40%;
    text-align: justify;
}

#articleone{
    float:right;
    width:right;
}