

@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Overpass|Overpass+Mono');



h2{
    font-size:2rem;
    text-align:center;
    margin-bottom:3rem;
}

h3{
    margin-bottom:2rem; 
    text-align:center; 
}

h4{
    margin:1rem;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:2rem;
    margin-bottom:3rem;
}

h5{
  font-family:'Open Sans Condensed', sans-serif;
  font-size:2rem;
  text-decoration: underline;
}

/* SECTION */

#secti{
    max-width:98rem;
    margin:auto;
    padding:2rem;
}

#firstarticle{
    width:47%;
    text-align: justify;
}


/*SECTION 2*/
#sect{
    background-color:#F2F2F4;
    padding:5rem;
    max-width:100%;
}

#name{
    border:.1rem black groove;
    padding:.5rem;
    width: 20rem;
    text-align:center;
    background-color:#fff;    
}

#arti{
    width:40%;
    text-align: justify;
}

#pres{
    float:right;
    width:50%;
    box-shadow: -.5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.23);
}


#prodtitle{
    text-align:right;  
}   

/*SECTION 3*/

#sectio3{
    max-width:98rem;
    margin:auto;
}

#arti3 iframe{
border:none;
width: 90rem;
}