{% extends "layout.html.twig" %}

{% block title 'Admin Livraison' %}

{% block content %}
        <h2>Modifications des infos de livraison</h2>

        <form method="post">

            <label>mode</label>
            <select name="mode" id="mode">
                <option value="domicile">Domicile</option>
                <option value="point relais">Point Relais</option>
            </select>

            <label>Status</label>
            <select name="shipment_status" id="shipment_status">
                <option value="en_preparation">En préparation</option>
                <option value="en_cours">En cours</option>
                <option value="effectuee">Effectuee</option>
            </select>

            <label class="control-label">Frais de Port</label>
            <input type="text" name="shipping_fees" value="{{ shipping.shipping_fees }}" class="form-control">

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('admin_shipping') }}" class="btn btn-default">Annuler</a>
    </form>

{% endblock %}
